body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#layout{
  display: flex;/*el contenedor se comporta como un bloque, es decir, ocupa todo el espacio horizontal disponible*/
  /*display: inline-flex;el contenedor se comporta como un elemento en-línea (ocupa sólo el espacio horizontal necesario y pueden colocarse unos detrás de otros en la misma línea)*/
  /*flex-direction: row; los elementos se colocan horizontalmente de izquierda a derecha.*/
  /*flex-direction: column; los elementos se colocan verticalmente de arriba abajo.*/
  /*flex-direction: row-reverse; los elementos se colocan horizontalmente de derecha a izquierda. */
  /*flex-direction: column-reverse;los elementos se colocan verticalmente de abajo arriba. */
  /*flex-direction: unset;no aplica ningun posicionamiento*/
  /*flex-wrap: nowrap; los elementos se colocan en una sola línea.*/
  /*lex-wrap: wrap; los elementos se colocan en varias líneas si no caben en una sola línea.*/
  /*flex-wrap: wrap-reverse; los elementos se colocan en varias líneas si no caben en una sola línea, pero las líneas se muestran de abajo arriba*/
  flex-flow: row wrap;/*La propiedad compuesta flex-flow permite establecer simultáneamente las dos propiedades flex-direction y flex-wrap.*/
  border: 3px solid black;
  padding: 5px;
}
/*
Factor de expansión de los elementos flexibles: flex-growflex-grow

La propiedad flex-grow hace que los elementos crezcan hasta ocupar todo el espacio disponible en la dirección principal.
La propiedad flex-grow toma valores enteros que indican la proporción en que se reparte el espacio.

Si todos los elementos toman el mismo valor, el espacio se reparte a partes iguales.
Si hay valores distintos, el espacio se reparte de forma proporcional a esos valores
*/

.caja{
  flex-grow: 1;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: grey;
  padding: 20px;
  border: 4px solid #222;
  margin: 10px;
}

.red{
  flex-grow: 2;
  background-color: red;
}

.green{
  flex-grow: 1;
  background-color: green;
}

.blue{
  flex-grow: 0;
  flex-shrink: 0; /*La propiedad flex-shrink, que toma valores enteros, indica la proporción en que se estrechan los elementos */
  background-color: blue;
}

.orange{
  flex-grow: 2;
  background-color: orange;
}
